<%-include("layout/header")-%>
<form method="post" action="/">
<label for="title" class="label" >Title</label>
<input class="title form-control" type="text" name="title">
    
<label for="blog" class="label">Blog</label>
<textarea class="blog form-control" name="blog" rows="4" cols="30"></textarea>
    
<button type="submit" class="btn btn-primary mt-2 submit">Submit</button>    
</form>
<%-include("layout/footer")-%>